/* GENERAL */
* {
    box-sizing: border-box;
}



/* FLEXBOX */
body {
    display: flex;
    flex-direction: column;
    align-items: left;
    min-height: 100vh;
    max-width: 375px;
}

main {
    flex: 1 0 auto;
}



/* DESIGN */
body {
    font-family: 'Helvetica', sans-serif;
    letter-spacing: -0.05em;
    opacity: 70%;
    visibility: visible;
    margin: 0 auto;
    padding: 1em 1em 0 1em;
    background-image: url(../img/old_paper.png);
}

header {
    text-align: center;
}

a {
    font-weight: normal;
    color: inherit;
}

p {
}

h1 {
    text-align: center;
}

h2 {
    display: inline;
    font-size: 1.6em;
}

h3 {
    display: inline;
    padding-left: 1em;
    font-weight: normal;
}

img {
    width: 60%;
    text-align: center;
}

header {
    padding-bottom: 1em;
}

td {
    text-align: left;
    vertical-align: top;
    padding: 0.5rem;
    font-weight: bold;
}

.date {
    padding: 0em 0em 1.5em 0em;
}

.showtime {
    padding: 0.5em 2em 0.5em 0em;
}

.event-title {
    text-transform: uppercase;
}

footer {
    text-align: center;
    font-size: 0.8rem;
}